AWS_ACCESS_KEY_ID=root
AWS_SECRET_ACCESS_KEY=password
AWS_REGION=us-east-1

MINIO_ENDPOINT=http://localhost:9000
DYNAMO_ENDPOINT=http://localhost:8002

S3_BUCKET_NAME=processor-bucket

RABBITMQ_URL=amqp://root:password@localhost:5672/

WEBHOOK_BASE_ENDPOINT=http://localhost/api
WORKER_API_KEY=super_secret_key_123
